@model CustomerProfile
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="row">
        <h1 class="mt-3">
            @if (!string.IsNullOrEmpty(Model.FirstName))
            {
                <span>@Model.FirstName's </span>
            }
            Profile
        </h1>
        <p>Update your customer information on this page</p>
    </div>
    <div class="row">
        <form asp-controller="Profile" asp-action="Index" method="post" class="border border-info border-5 rounded p-3 bg-primary">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-floating mb-3">
                <input type="text" asp-for="FirstName" class="form-control" id="formInput" />
                <label asp-for="FirstName">First Name</label>
                <span asp-validation-for="FirstName" class="text-light"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="LastName" class="form-control" id="formInput" />
                <label asp-for="LastName">Last Name</label>
                <span asp-validation-for="LastName" class="text-light"></span>
            </div>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ShoppingBagId" />
            <div class="mt-3">
                <button class="btn btn-success me-3">Save</button>
                <a asp-controller="Home" asp-action="Cafe" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Go Back to Cafe</a>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="my-3">
            <h3>
                <a class="btn btn-info me-2" type="submit" asp-controller="ProcessOrder" asp-action="OrderHistory" asp-route-customerId="@Model.CustomerID">View Order History</a>
                <a class="btn btn-warning" type="submit" asp-controller="ShoppingCart" asp-action="Index">View Shopping Cart</a>
            </h3>
        </div>
    </div>
</div>