@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "4th Wall Cafe";
}

<div class="row">
    <div class="my-3">
        <h1 class="text-center" id="cafeTitle">Comfort food begins the <span class="d-flex justify-content-center ">4th Wall Cafe</span></h1>
    </div>
</div>
<div class="row">
    <img src="~/img/cafemain.jpg" class="img-fluid" />
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div class="my-3">
            <h3>
                <a asp-controller="Cafe" asp-action="Menu" id="titleSection">Our Menu</a>
            </h3>
        </div>
        <div class="m-3">
            <img src="~/img/menu.png" class="img-fluid rounded border border-5 border-primary" />
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="my-3">
            <h3>
                <a asp-controller="Management" asp-action="Index" id="titleSection">Management Area</a>
            </h3>
        </div>
        <div class="m-3">
            <img src="~/img/management.png" class="img-fluid rounded border border-5 border-primary" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div class="my-3">
            <h3>
                <a asp-controller="Reports" asp-action="Index" id="titleSection">Sales Reports</a>
            </h3>
        </div>
        <div class="m-3">
            <img src="~/img/sales.png" class="img-fluid rounded border border-5 border-primary" />
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="my-3">
            <h3>
                <a asp-controller="Cafe" asp-action="OrderAPI" id="titleSection">Online Ordering API</a>
            </h3>
        </div>
        <div class="m-3">
            <img src="~/img/orderapi.png" class="img-fluid rounded border border-5 border-primary" />
        </div>
    </div>
</div>



