.airport-input {
    background-color: black;
    border: none;
    caret-color: white;
    color: white;
    outline: none;
}

#airport-button {
    background: black;
    color: black;
}

    #airport-button:focus {
        background: black;
        box-shadow: none;
        color: white;
        border: none;
    }

#about {
    background: #acacac;
}

    #about h3 {
        color: darkred;
        font-family: Lucida Sans Typewriter;
        padding-top: 11px;
    }

#about-text {
    color: darkred;
    font-family: Lucida Sans Typewriter;
}

#console-top {
    padding-top: 12px;
}