.airport-input {
    background-color: black;
    border: none;
    caret-color: white;
    color: white;
    outline: none;
}

.anykey {
    color: black;
}

    .anykey:focus {
        color: white;
        outline: none;
        text-decoration: none;
    }

#about {
    background: #acacac;
}

    #about h3 {
        color: darkred;
        font-family: Lucida Sans Typewriter;
        padding-top: 11px;
    }

#about-text {
    color: darkred;
    font-family: Lucida Sans Typewriter;
}

#console-top {
    padding-top: 12px;
}
