.form-check-input:checked {
    background-color: rgb(7, 35, 144);
}

#addItemForm {
    margin-top: 40px;
}

#bottomImages {
    margin-top: 20px;
}

#bottomImgContainer:hover #imgOverlay {
    opacity: 1;
}

#bottomRow {
    margin-top: 50px;
    padding-top: 9px;
    padding-bottom: 1px;
}

#cafeTitle {
    font-family: serif;
    font-size: 2.5rem;
    margin-top: 10px;
}

    #cafeTitle span {
        font-family: serif;
        font-size: 2.5rem;
        font-style: italic;
        margin-top: 10px;
    }

#cardAdd {
    border-left: solid 5px #ed19cf;
    border-right: solid 5px #ed19cf;
    border-bottom: solid 5px #ed19cf;
    background-color: #033c73;
}

#cardBody {
    border-left: solid 5px #ed19cf;
    border-right: solid 5px #ed19cf;
    background-color: #033c73;
}

    #cardBody h5 {
        font-family: Papyrus;
        color: white;
    }

    #cardBody p {
        font-family: Georgia;
        color: white;
    }

#cardPrice {
    border: solid 5px #ed19cf;
    background-color: #033c73;
    font-family: 'Lucida Bright';
    color: white;
}

#cardTop {
    border: solid 5px #ed19cf;
}

#cardTop2 {
    border: solid 5px #ed19cf;
    border-radius: 10px;
}

#formInput:focus {
    box-shadow: 0px 0px 12px 4px #ed19cf;
    outline: 0;
}

#imgOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffb0f4;
}

#imgText {
    color: darkorchid;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#imgUpdate {
    display: block;
    margin: auto;
    width: 250px;
}

#menuButtonHome {
    font-size: 1.5rem;
}

#menuTitle {
    font-family: serif;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

    #menuTitle span {
        font-family: serif;
        font-style: italic;
        font-size: 2.5rem;
    }

#noItemsCart {
    font-family: serif;
    font-size: 1.5rem;
}

#noteLogin {
    font-size: 1.1rem;
}

#register1 {
    font-size: 1.25rem;
    margin-top: 5px;
}

#revenueResult {
    font-family: serif;
    font-size: 1.5rem;
}

#titleSection {
    font-family: cursive;
}

#updateItemForm1 {
    margin-top: 30px;
    font-family: cursive;
}

#updateItemForm2 {
    margin-top: 80px;
    font-family: cursive;
}

#validationText {
    color: darkviolet;
    font-size: 16px;
    font-weight: bold;
}

#validationText2 {
    color: mediumspringgreen;
    font-size: 16px;
    font-weight: bold;
}