nav {
    font-family: Arial;
}

#bottomAPI {
    margin-top: 50px;
    padding-top: 9px;
    padding-bottom: 1px;
}

#navHoverAirport {
    --bs-dropdown-link-hover-bg: #acacac;
    --bs-dropdown-link-hover-color: darkred;
}

#nav-hover-cat-poker {
    --bs-dropdown-link-hover-bg: #033c73;
}

#nav-hover-diagram {
    --bs-dropdown-link-hover-bg: #4e4e4e;
}

#nav-hover-portfolio {
    --bs-dropdown-link-hover-bg: #7b7da7;
}

#nav-hover-profile {
    --bs-dropdown-link-hover-bg: darkorchid;
}

#titleAPI {
    font-family: Arial;
}