body {
    background: repeating-linear-gradient(rgba(0, 195, 255, 0.25)) 50px, rgb(0, 195, 255, 0.50) 56px;
}

#menuForm {
    background: linear-gradient(to right, #b6c7ca, #dbeef1);
}

#reportsForm {
    background-color: #96e8ae
}

#reportsForm2 {
    background-color: #99bbff
}

#serverForm {
    background: linear-gradient(to right, #80e3f1, #cceaee);
}
