nav {
    font-family: serif;
}

.cafe-home-list {
    font-family: serif;
    list-style: none;
}

.form-check-input:checked {
    background-color: rgb(7, 35, 144);
}

#add-item-form {
    margin-top: 40px;
    font-family: serif;
}

#bottom-images {
    margin-top: 20px;
}

#bottom-img-container:hover #img-overlay {
    opacity: 1;
}

#bottom-img-container-2:hover #img-overlay-2 {
    bottom: 0;
    height: 100%;
}

#bottom-row {
    margin-top: 50px;
    padding-top: 9px;
    padding-bottom: 1px;
}

#button-edit {
    margin-top: 74px;
    margin-left: 10px;
    margin-right: 10px;
}

#cafe-home-lt {
    color: white;
    font-size: 20px;
}

#cafe-home-summary {
    padding-top: 25px;
    padding-bottom: 25px;
}

#cafe-title {
    font-family: serif;
    font-size: 2.5rem;
    margin-top: 10px;
}

    #cafe-title span {
        font-family: serif;
        font-size: 2.5rem;
        font-style: italic;
        margin-top: 10px;
    }

#card-add {
    border-left: solid 5px #ed19cf;
    border-right: solid 5px #ed19cf;
    border-bottom: solid 5px #ed19cf;
    background-color: #033c73;
}

#card-body {
    border-left: solid 5px #ed19cf;
    border-right: solid 5px #ed19cf;
    background-color: #033c73;
}

    #card-body h5 {
        font-family: Papyrus;
        color: white;
    }

    #card-body p {
        font-family: Georgia;
        color: white;
    }

#card-price {
    border: solid 5px #ed19cf;
    background-color: #033c73;
    font-family: 'Lucida Bright';
    color: white;
}

#card-top {
    border: solid 5px #ed19cf;
}

#card-top-2 {
    border: solid 5px #ed19cf;
    border-radius: 10px;
}

#form-input:focus {
    box-shadow: 0px 0px 12px 4px #ed19cf;
    outline: 0;
}

#img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffb0f4;
}

#img-overlay-2 {
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color: hotpink;
}

#img-text {
    color: darkorchid;
    font-size: 20px;
    font-family: serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#img-update {
    display: block;
    margin: auto;
    width: 200px;
}

#menu-button-home {
    font-size: 1.5rem;
    font-family: serif;
}

#menu-title {
    font-family: serif;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

    #menu-title span {
        font-family: serif;
        font-style: italic;
        font-size: 2.5rem;
    }

#nav-hover-airport {
    --bs-dropdown-link-hover-bg: #acacac;
    --bs-dropdown-link-hover-color: darkred;
}

#nav-hover-cafeapi {
    --bs-dropdown-link-hover-bg: #73a839;
}

#nav-hover-cafe-profile {
    --bs-dropdown-link-hover-bg: #1137ee;
}

#nav-hover-cart {
    --bs-dropdown-link-hover-bg: #f1620f;
}

#nav-hover-cat-poker {
    --bs-dropdown-link-hover-bg: #033c73;
}

#nav-hover-diagram {
    --bs-dropdown-link-hover-bg: #4e4e4e;
}

#nav-hover-portfolio {
    --bs-dropdown-link-hover-bg: #7b7da7;
}

#nav-hover-profile {
    --bs-dropdown-link-hover-bg: darkorchid;
}

#no-items-cart {
    font-family: serif;
    font-size: 1.5rem;
}

#note-login {
    font-size: 1.1rem;
    font-family: serif;
}

#register-1 {
    font-size: 1.25rem;
    margin-top: 5px;
}

#report-title {
    margin-bottom: 30px;
    margin-top: 10px;
}

#report-title-2 {
    margin-bottom: 30px;
    margin-top: 35px;
}

#revenue-result {
    font-family: serif;
    font-size: 1.5rem;
}

#title-section {
    font-family: serif;
}

#update-item-form-1 {
    margin-top: 30px;
    font-family: serif;
}

#update-item-form-2 {
    margin-top: 80px;
    font-family: serif;
}

#validation-text {
    color: darkviolet;
    font-size: 16px;
    font-weight: bold;
}

#validation-text-2 {
    color: mediumspringgreen;
    font-size: 16px;
    font-weight: bold;
}