nav {
    background-color: #7b7da7;
    font-family: Lucida Console;
}

.airport-headline {
    color: darkred;
    font-family: Lucida Console;
    margin-top: 20px;
}

.airport-version {
    background: #acacac;
    color: darkred;
    border-top: 2.5px solid #acacac;
    border-bottom: 2.5px solid #acacac;
    font-family: Lucida Console;
    font-style: italic;
    margin-top: 25px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#airport-carousel {
    background: darkred;
}

    #airport-carousel h5 a {
        background: #acacac;
        color: darkred;
    }

        #airport-carousel h5 a:hover {
            background: #7e7e7e;
        }

#contact-headline {
    color: darkorchid;
    font-family: Lucida Console;
    font-size: 17px;
}

#doc-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#doc-page-airport {
    background-color: #acacac;
}

    #doc-page-airport h2 {
        color: darkred;
        font-family: Lucida Console;
    }

#doc-page-airport-border {
    border: 3px solid #acacac;
}

#doc-page-headline {
    font-family: Lucida Console;
}

#documentation-headline {
    color: white;
    font-family: Lucida Console;
    margin-top: 40px;
    margin-bottom: 20px;
}

#documentation-row {
    background: linear-gradient(0deg,#4738ac, #b0a5f6);
    margin-top: 50px;
}

#img-container-cafe:hover #overlay-cafe {
    bottom: 0;
    height: 100%;
}

#img-container-airport:hover #overlay-airport {
    bottom: 0;
    height: 100%;
}

#img-container-cafeapi:hover #overlay-cafeapi {
    bottom: 0;
    height: 100%;
}

#img-container-cat:hover #overlay-cat {
    bottom: 0;
    height: 100%;
}

#img-container-skills:hover #overlay-skills {
    opacity: 1;
}

#headline {
    color: white;
    font-family: Lucida Console;
}

#headline-row {
    background: linear-gradient(0deg,#4738ac, #b0a5f6);
    margin-top: 50px;
}

#jm-photo {
    height: 200px;
    width: 200px;
}

#nav-bottom {
    background-color: #7b7da7;
    margin-top: 50px;
    padding-top: 9px;
    padding-bottom: 1px;
}

#nav-hover-airport {
    --bs-dropdown-link-hover-bg: #acacac;
    --bs-dropdown-link-hover-color: darkred;
}

#nav-hover-cafeapi {
    --bs-dropdown-link-hover-bg: #73a839;
}

#nav-hover-cat-poker {
    --bs-dropdown-link-hover-bg: #033c73;
}

#nav-hover-diagram {
    --bs-dropdown-link-hover-bg: #4e4e4e;
}

#nav-hover-profile {
    --bs-dropdown-link-hover-bg: darkorchid;
}

#overlay-cafe {
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color: aquamarine;
}

#overlay-airport {
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color: purple;
}

#overlay-cafeapi {
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color: deeppink;
}

#overlay-cat {
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color: #f3f554;
}

#overlay-skills {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

#projects-headline {
    color: white;
    font-family: Lucida Console;
    margin-top: 40px;
    margin-bottom: 40px;
}

#skills-headline {
    color: white;
    font-family: Lucida Console;
    margin-bottom: 10px;
    margin-top: 30px;
}

#skills-row {
    background: linear-gradient(#4738ac, #b0a5f6);
    margin-top: 50px;
}

#text {
    color: darkorchid;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#zoom {
    transition: transform .2s;
}

    #zoom:hover {
        transform: scale(1.5);
    }