nav {
    background-color: #7b7da7;
    font-family: Lucida Console;
}

#contactHeadline {
    color: darkorchid;
    font-family: Lucida Console;
}

#docPageHeadline {
    font-family: Lucida Console;
}

#documentationHeadline {
    color: white;
    font-family: Lucida Console;
    margin-top: 40px;
    margin-bottom: 20px;
}

#documentationRow {
    background: linear-gradient(0deg,#4738ac, #b0a5f6);
    margin-top: 50px;
}

#imgContainer:hover #overlay {
    opacity: 1;
}

#imgContainer2:hover #overlay2 {
    bottom: 0;
    height: 100%;
}

#headline {
    color: white;
    font-family: Lucida Console;
}

#headlineRow {
    background: linear-gradient(0deg,#4738ac, #b0a5f6);
    margin-top: 50px;
}

#jmPhoto {
    height: 200px;
    width: 200px;
}

#navBottom {
    background-color: #7b7da7;
    margin-top: 50px;
    padding-top: 9px;
    padding-bottom: 1px;
}

#navHoverCafeApi {
    --bs-dropdown-link-hover-bg: #73a839;
}

#navHoverCatPoker {
    --bs-dropdown-link-hover-bg: #033c73;
}

#navHoverDiagram {
    --bs-dropdown-link-hover-bg: #4e4e4e;
}

#navHoverProfile {
    --bs-dropdown-link-hover-bg: darkorchid;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

#overlay2 {
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color: aquamarine;
}

#projectsHeadline {
    color: white;
    font-family: Lucida Console;
    margin-top: 40px;
    margin-bottom: 40px;
}

#skillsHeadline {
    color: white;
    font-family: Lucida Console;
    margin-bottom: 10px;
    margin-top: 30px;
}

#skillsRow {
    background: linear-gradient(#4738ac, #b0a5f6);
    margin-top: 50px;
}

#text {
    color: darkorchid;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#zoom {
    transition: transform .2s;
}

    #zoom:hover {
        transform: scale(1.5);
    }