@using Portfolio.Models.Management
@model AddItemForm
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Create Item";
}

<div class="container">
    <div class="text-center my-4" id="titleSection">
        <h1>Add New Item</h1>
        <h4 class="text-info">Add items to the menu using the form below</h4>
    </div>
    <div class="border border-info p-3 border-5 rounded bg-primary">
        <form asp-controller="Management" asp-action="AddItem" asp-method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @Html.AntiForgeryToken()
            <div class="form-floating mb-3">
                <select asp-for="SelectedCategoryID" asp-items="Model.Categories" class="form-control" id="formInput">
                    <option value=""></option>
                </select>
                <label asp-for="SelectedCategoryID">Category</label>
                <span asp-validation-for="SelectedCategoryID" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="Name" class="form-control" id="formInput" />
                <label asp-for="Name">Item Name</label>
                <span asp-validation-for="Name" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="Description" class="form-control" id="formInput" />
                <label asp-for="Description" class="form-label">Item Description</label>
                <span asp-validation-for="Description" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="SelectedTimeOfDayID" asp-items="Model.TimeOfDays" class="form-control" id="formInput">
                    <option value=""></option>
                </select>
                <label asp-for="SelectedTimeOfDayID">Time of Day</label>
                <span asp-validation-for="SelectedTimeOfDayID" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="Price" class="form-control" id="formInput" />
                <label asp-for="Price">Price</label>
                <span asp-validation-for="Price" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="Start" class="form-control" id="formInput" />
                <label asp-for="Start">Start Date</label>
                <span asp-validation-for="Start" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="End" class="form-control" id="formInput" />
                <label asp-for="End">End Date</label>
                <span asp-validation-for="End" id="validationText"></span>
            </div>
            <div>
                <button class="btn btn-success me-3">Add</button>
                <a asp-controller="Management" asp-action="MenuIndex" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Go back</a>
            </div>
        </form>
    </div>
</div>