@using Portfolio.Models.Management
@model ServerForm
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Add Server";
}

<div class="container">
    <div class="text-center my-4" id="titleSection">
        <h1>Add a Server</h1>
        <h4 class="text-info">You may add a server to the cafe by simply filling out the form and clicking submit</h4>
    </div>
    <div class="border border-info border-5 rounded p-3 bg-primary">
        <form class="mb-3" asp-controller="Management" asp-action="AddServer" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @Html.AntiForgeryToken()
            <div class="form-floating mb-3">
                <input type="text" asp-for="FirstName" class="form-control" id="formInput" />
                <label asp-for="FirstName">First Name</label>
                <span asp-validation-for="FirstName" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="LastName" class="form-control" id="formInput" />
                <label asp-for="LastName">Last Name</label>
                <span asp-validation-for="LastName" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="date" asp-for="DoB" class="form-control" id="formInput" />
                <label asp-for="DoB">Date of Birth</label>
                <span asp-validation-for="DoB" id="validationText"></span>

            </div>
            <div class="form-floating mb-3">
                <button type="submit" class="btn btn-success me-3">Submit</button>
                <a asp-controller="Management" asp-action="ServerIndex" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Go Back</a>
            </div>
        </form>
    </div>
</div>