@model ItemForm
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Edit Menu";
}

<div class="container">
    <div class="text-center my-3">
        <h1>Edit @Model.ItemName</h1>
        <h5>When finished editing, click the "Save" button.</h5>
    </div>
    <div class="border border-secondary p-3 border-3 rounded" id="menuForm">
        <form asp-controller="Management" asp-action="EditMenu" method="post" asp-route-id="@Model.ItemID">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ItemID" />
            <input type="hidden" asp-for="CategoryID" />
            <div>
                <label asp-for="ItemName" class="form-label">Item Name</label>
                <input type="text" class="form-control" asp-for="ItemName" />
            </div>
            <div class="mt-3">
                <label asp-for="ItemDescription" class="form-label">Description</label>
                <input type="text" class="form-control" asp-for="ItemDescription" />
            </div>
            @for (int i = 0; i < Model.Prices.Count; i++)
            {
                <input type="hidden" asp-for="Prices[i].ItemPriceID" />
                <input type="hidden" asp-for="Prices[i].ItemID" />
                <input type="hidden" asp-for="Prices[i].TimeOfDayID" />
                <div class="mt-3">
                    <label asp-for="Prices[i].Price" class="form-label">Price</label>
                    <input type="text" class="form-control" asp-for="Prices[i].Price" />
                </div>
                <input type="hidden" asp-for="Prices[i].StartDate" />
                <input type="hidden" asp-for="Prices[i].EndDate" />
            }
            <div class="mt-3">
                <button type="submit" class="btn btn-primary me-3">Save</button>
                <a asp-controller="Management" asp-action="Menu">Go back</a>
            </div>
        </form>
    </div>
</div>

