@model ServerForm
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Edit Server";
}

<div class="container">
    <div class="text-center my-4" id="titleSection">
        <h1>Edit a server</h1>
        <h4 class="text-info">If you would like to re-activate a server, change the Termination Date field to <i>mm/dd/yyyy</i></h4>
    </div>
    <div class="border border-info p-3 border-5 rounded bg-primary">
        <form class="mb-3" asp-controller="Management" asp-action="EditServer" asp-route-id="@Model.ServerID" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ServerID" />
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="FirstName" id="formInput" />
                <label asp-for="FirstName">First Name</label>
                <span asp-validation-for="FirstName" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="LastName" id="formInput" />
                <label asp-for="LastName">Last Name</label>
                <span asp-validation-for="LastName" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="DoB" id="formInput" />
                <label asp-for="DoB">Date of Birth</label>
                <span asp-validation-for="DoB" id="validationText"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" asp-for="HireDate" id="formInput" />
                <label asp-for="HireDate">Hire Date</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" asp-for="TermDate" id="formInput" />
                <label asp-for="TermDate">Termination Date</label>
                <span asp-validation-for="TermDate" id="validationText"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success me-3">Save</button>
                <a asp-controller="Management" asp-action="ServerIndex" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Go Back</a>
            </div>
        </form>
    </div>
</div>