@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Cafe Management";
}

<div class="text-center bg-info" id="titleSection">
    <div class="my-5 py-3">
        <h2 class="mb-3">Welcome Cafe Managers!</h2>
        <h5>Please select one of the following areas of management.</h5>
    </div>
</div>
<div class="container-fluid d-flex justify-content-evenly">
    <div class="card" style="width:30rem" id="bottomImgContainer2">
        <img src="~/img/servermg.jpg" class="card-img" />
        <div id="imgOverlay2">
            <div id="imgText"><a class="link-info link-opacity-50-hover link-underline-opacity-50-hover" asp-controller="Management" asp-action="ServerIndex">Server Management</a></div>
        </div>
    </div>
    <div class="card" style="width:30rem" id="bottomImgContainer2">
        <img src="~/img/menumg.jpg" class="card-img" />
        <div id="imgOverlay2">
            <div id="imgText"><a class="link-info link-opacity-50-hover link-underline-opacity-50-hover" asp-controller="Management" asp-action="MenuIndex">Menu Management</a></div>
        </div>
    </div>
</div>
<div class="text-center bg-info" id="titleSection">
    <div class="my-5 py-3">
        <h5>Back to <a asp-controller="Home" asp-action="Cafe" class="btn btn-primary ms-2"><h5 class="pt-2">Cafe Area</h5></a></h5>
    </div>
</div>