@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Cafe Management";
}

<div class="row bg-info">
    <div class="text-center my-3" id="titleSection">
        <h2>Welcome Cafe Managers!</h2>
        <h5>Please select one of the following areas you would like to manage</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="text-center">
            <div class="my-3">
                <h3>
                    <a asp-controller="Management" asp-action="Server">Server Management</a>
                </h3>
            </div>
            <div class="pb-3">
                <img src="~/img/servermg.png" class="img-fluid rounded border border-5 border-info" />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <div class="my-3">
                <h3>
                    <a asp-controller="Management" asp-action="Menu">Menu Management</a>
                </h3>
            </div>
            <div class="pb-3">
                <img src="~/img/menumg.png" class="img-fluid rounded border border-5 border-info" />
            </div>
        </div>
    </div>
</div>
<div class="row bg-info">
    <div class="text-center">
        <div class="my-5" id="titleSection">
            <h3>Back to <a asp-controller="Cafe" asp-action="Index" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Cafe Area</a></h3>
        </div>
    </div>
</div>