@{
    Layout = "_AirportLayout";
    ViewData["Title"] = "Airport Locker Rental";
}

<div class="container border border-2 border-danger">
    <div class="row bg-danger" id="console-top">
        <p class="text-white">C:\project\net9.0\airport-locker-rental.exe</p>
    </div>
    <div class="row bg-black">
        <p class="text-white">
            ===============<br />
            | Airport Locker Rental |<br />
            ===============<br />
            | 1. View a Locker<br />
            | 2. Rent a Locker<br />
            | 3. End Locker Rental<br />
            | 4. List All Lockers<br />
            | <span class="text-success">5. Exit</span><br />
            ===============<br />
        </p>
        <p class="text-white">
            ---------------------------------------------------------<br />
            Thank you for using the Airport Locker Rental! <br />
            ---------------------------------------------------------<br />
        </p>
    </div>
</div>
<div class="mt-3">
    <a asp-controller="Airport" asp-action="Menu" class="btn btn-danger" type="submit">Back to main menu</a>
</div>