@using Portfolio.Models.Ordering
@model OrderForm
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Process Order";
}

@if (Model.PaymentStatusId != 2)
{
    <div class="text-center my-3">
        <h3>Before we prepare your order for payment, would you like to add a tip?</h3>
    </div>
    <div class="container">
        <div class="row">
            <form asp-controller="ProcessOrder" asp-action="Process" method="post" class="border border-info border-3 rounded p-3 bg-primary">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="CustomerId" />
                <input type="hidden" asp-for="PaymentTypeId" />
                <input type="hidden" asp-for="SubTotal" />
                <input type="hidden" asp-for="Tax" />
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" asp-for="Tip" value="0.00" id="formInput" />
                    <label asp-for="Tip">Tip</label>
                    <span asp-validation-for="Tip" class="text-light"></span>
                </div>
                <input type="hidden" asp-for="FinalTotal" />
                <input type="hidden" asp-for="PaymentStatusId" />
                <div>
                    <button class="btn btn-success me-2">Process</button>
                    <a asp-controller="ShoppingCart" asp-action="Index" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Back to Shopping Cart</a>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row text-center my-3">
        <h2>Order Summary</h2>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-info">
                <thead>
                    <tr>
                        <th>Sub Total</th>
                        <th>Tax</th>
                        <th>Tip</th>
                        <th>Final Total</th>
                        <th>Payment Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$@Model.SubTotal.ToString("F2")</td>
                        <td>$@Model.Tax.ToString("F2")</td>
                        <td>$@Model.Tip?.ToString("F2")</td>
                        <td>$@Model.FinalTotal.ToString("F2")</td>
                        <td>Pending</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center my-3">
        <div>
            <h3><a asp-controller="ProcessPayment" asp-action="Process" asp-route-orderId="@Model.OrderId">Go to Checkout</a></h3>
        </div>
    </div>
}