@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <div class="text-center" id="titleSection">
        <h2 class="mt-3 text-danger">Unauthorized Access</h2>
        <p>You do not have the appropriate role to access this area.</p>
        <p>See the log in page for more details.<br /> <b>Note:</b> you must <i>log out</i> first.</p>
    </div>
</div>