@using Portfolio.Models.Identity
@model LoginUser
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="text-center my-3">
        <h2>Log In</h2>
        <h5 class="text-success mt-2">New Customer? <a asp-controller="Account" asp-action="Register">Register Here</a></h5>
    </div>
</div>
<div class="row">
    <div class="container-fluid px-3">
        <div class="col-md-6 mx-auto border border-5 border-info rounded p-3 bg-primary">
            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-white"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" id="formInput" />
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-white"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" id="formInput" />
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-white"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="RememberMe" />
                        <label for="RememberMe" class="text-white">Remember Me</label>
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary me-3">Log in</button>
                    <a asp-controller="Cafe" asp-action="Index" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="mt-3 text-center px-3 text-info" id="noteLogin">
        <p class="mt-2"><b>Note:</b> If you would like access to the sales reports area, it requres an <i>accountant role</i> for authorization.</p>
        <p class="mt-2">Here is a sample account you may use to try it out!<br /> <b>Username:</b> SalesManager@fwcafe.com <b>Password:</b> Sales123$</p>
    </div>
</div>