@using Portfolio.Models.Identity
@model RegisterUser
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Register User";
}

<div class="row">
    <div class="text-center my-3">
        <h2>Register a New Account</h2>
        <p class="mt-2" id="register1">Create an account with us to order from our menu and use our API!</p>
        <h5 class="text-success">Returning customer? <a asp-controller="Account" asp-action="Login">Log in</a></h5>
    </div>
</div>
<div class="row">
    <div class="container-fluid px-3">
        <div class="col-md-6 mx-auto border border-info border-5 rounded p-3 bg-primary">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-white"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" id="formInput" />
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-white"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" id="formInput" />
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-white"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" id="formInput" />
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-white"></span>
                </div>
                <button type="submit" class="btn btn-primary me-3">Register</button>
                <a asp-controller="Home" asp-action="Cafe" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Go Back</a>
            </form>
        </div>
    </div>
</div>