@{
    Layout = "_AirportLayout";
    ViewData["Title"] = "Airport Locker Rental";
}

<div class="text-center my-5">
    <a class="btn" style="background-color:darkred; color:white;" asp-area="Airport" asp-controller="Home" asp-action="Menu">Load Console</a>
</div>