@{
    Layout = "_BattleshipLayout";
    ViewData["Title"] = "Battleship";
}

<div class="row text-center text-white" id="row-bg">
    <h1 class="mt-3 text-white">Battleship</h1>
    <div>
        <img src="~/img/battleship/ships.png" class="img-fluid" />
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="border border-3 border-white my-3" id="about">
            <h3 class="mt-2 text-info">About</h3>
            <p id="battleship-text">
                This is a console application of the classic game: Battleship.<br />
                It was written in C# and it is unit tested.<br />
                The repository can be found <a href="https://www.github.com/thecatfather4/battleship">here</a>.<br />
                You can also download or clone the repository so that you can play it on your machine.<br />
            </p>
        </div>
    </div>
    <div class="col-lg-4"></div>
    <p>
        I plan on building a web version to demo right here on my portfolio.<br />
        I am currently in process of planning the project. Stay tuned!<br />
    </p>
</div>