@{
    Layout = "_ApiCafeLayout";
    ViewData["Title"] = "Ordering API";
}

<div class="text-center my-4" id="titleAPI">
    <h1 class="text-success mb-2">Café API</h1>
    <p>
        A RESTful API that utilizes the back-end of the 4th Wall Cafe.<br />
        It is set up to register accounts, authenticate, and place orders.
    </p>
</div>
<div class="bg-info">
    <div class="text-center d-flex justify-content-evenly text-white" id="titleAPI">
        <a class="btn btn-light my-3" href="https://jmarcello.dev/swagger">Test it out here!</a>
    </div>
</div>
<div class="container-fluid">
    <div class="text-center mt-5 d-flex justify-content-evenly" id="titleAPI">
        <h5><a class="link-info link-opacity-50-hover link-underline-opacity-50-hover" href="https://www.github.com/TheCatFather4">GitHub</a></h5>
        <h5><a class="link-info link-opacity-50-hover link-underline-opacity-50-hover" asp-controller="Home" asp-action="Documentation">Documentation and Diagrams</a></h5>
        <h5><a class="link-info link-opacity-50-hover link-underline-opacity-50-hover" href="https://www.linkedin.com/in/joseph-marcello-9b31a134a">LinkedIn</a></h5>
    </div>
</div>