@{
    ViewData["Title"] = "Contact";
}

<div>
    <div class="container-fluid text-center" id="headlineRow">
        <h1 class="py-3" id="headline">Contact Me</h1>
    </div>
    <div class="container">
        <div class="row border border-info border-5 rounded-2 text-center mt-5 mx-auto">
            <div class="my-3">
                <h4 id="contactHeadline"><img src="~/img/email_icon.png" height="50" width="50" /> Email: marcelloja.csharp@gmail.com</h4>
                <h4 id="contactHeadline"><img src="~/img/github_logo.png" height="50" width="50" /> Github: <a href="https://www.github.com/TheCatFather4">TheCatFather4</a></h4>
                <h4 id="contactHeadline"><img src="~/img/linkedin_logo.png" height="50" width="50" />LinkedIn: <a href="https://www.linkedin.com/in/joseph-marcello-9b31a134a/">joseph-marcello-9b31a134a</a></h4>
            </div>
        </div>
    </div>
</div>