@{
    ViewData["Title"] = "Documentation";
}

<div class="container-fluid text-center" id="headlineRow">
    <h1 class="py-3" id="headline">Documentation and Diagrams</h1>
</div>
<div class="container">
    <div class="row bg-light border border-info border-5 rounded-2 text-center mt-5 mx-auto">
        <div class="mt-3 mb-2 bg-primary">
            <h2 class="text-light mt-2" id="docPageHeadline">4th Wall Café</h2>
        </div>
        <div class="col-md-2 mb-2"></div>
        <div class="col-md-4 mb-2">
            <h4 class="mt-2 text-info" id="docPageHeadline">Class Modeling Diagram</h4>
            <div class="my-2">
                <img src="~/img/cmd1.png" class="img-fluid img-thumbnail border border-primary border-3" />
            </div>
            <div class="my-2">
                <a class="btn btn-success" id="docPageHeadline" type="submit" href="~/diagrams/cafe-ld-cmd.png">View CMD</a>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <h4 class="mt-2 text-info" id="docPageHeadline">Entity Relationship Diagram</h4>
            <div class="my-2">
                <img src="~/img/erd1.png" class="img-fluid img-thumbnail border border-primary border-3" />
            </div>
            <div class="my-2">
                <a class="btn btn-success" id="docPageHeadline" type="submit" href="~/diagrams/cafe-erd.png">View ERD</a>
            </div>
        </div>
        <div class="col-md-2 mb-2"></div>
        <div class="col-md-2 mb-2"></div>
        <div class="col-md-4 mb-2">
            <h4 class="mt-2 text-info" id="docPageHeadline">Documentation</h4>
            <div class="my-2">
                <img src="~/img/github1.png" class="img-fluid img-thumbnail border border-primary border-3" />
            </div>
            <div class="my-2">
                <a class="btn btn-success me-2" id="docPageHeadline" type="submit" href="https://www.github.com/TheCatFather4/Portfolio/tree/main/Portfolio/Cafe.BLL/Services">View Services</a>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <h4 class="mt-2 text-info" id="docPageHeadline">Unit Tests</h4>
            <div class="my-2">
                <img src="~/img/unit_tests_cafe.png" class="img-fluid img-thumbnail border border-primary border-3" />
            </div>
            <div class="my-2">
                <a class="btn btn-success me-2" id="docPageHeadline" type="submit" href="https://www.github.com/TheCatFather4/Portfolio/tree/main/Portfolio/Cafe.Tests">View Tests</a>
            </div>
        </div>
        <div class="col-md-2 mb-2"></div>
    </div>
</div>
<div class="container">
    <div class="row bg-light border border-primary border-5 rounded-2 text-center mt-5 mx-auto">
        <div class="mt-3 mb-2 bg-success">
            <h2 class="text-light mt-2" id="docPageHeadline">Café API</h2>
        </div>
        <div class="mb-2">
            <h4 class="mt-2 text-primary" id="docPageHeadline">GitHub Documentation</h4>
            <div class="my-2">
                <img src="~/img/github2.png" class="img-fluid img-thumbnail border border-success border-3" />
            </div>
            <div class="my-2">
                <a class="btn btn-info" id="docPageHeadline" type="submit" href="https://www.github.com/TheCatFather4/Portfolio/tree/main/Portfolio/Portfolio/ApiControllers">View Controllers</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row bg-light border border-success border-5 rounded-2 text-center mt-5 mx-auto">
        <div class="mt-3 mb-2 bg-info">
            <h2 class="text-light mt-2" id="docPageHeadline">Cat Poker</h2>
        </div>
        <div class="mb-2">
            <h4 class="mt-2 text-success" id="docPageHeadline">Documentation</h4>
            <div class="my-2">
                <img src="~/img/github3.png" class="img-fluid img-thumbnail border border-info border-3" />
            </div>
            <div class="my-2">
                <a class="btn btn-primary" id="docPageHeadline" type="submit" href="https://github.com/TheCatFather4/Portfolio/tree/main/Portfolio/Portfolio/wwwroot/cat-poker">View Code</a>
            </div>
        </div>
    </div>
</div>