@{
    ViewData["Title"] = "Joe's Portfolio";
}

<div class="row text-center" id="headlineRow">
    <div class="mt-3">
        <img class="img-fluid img-thumbnail" src="~/img/jm.jpg" id="jmPhoto" />
    </div>
    <div class="my-3">
        <h2 id="headline">Joseph Marcello: <i>Software Developer</i></h2>
        <h5 id="headline">I am a software developer with a background in psychology and customer service.</h5>
        <h5 id="headline">My passion is to provide enterprises with clean, modular software that <i>changes the game</i>.</h5>
        <h5 id="headline">I have 1.5 years of experience and can confidently deliver value to your company.</h5>
    </div>
</div>
<div class="row text-center" id="skillsRow">
    <div class="col-md-6">
        <h2 id="projectsHeadline">Software Applications</h2>
        <div id="carouselProjects" class="carousel slide border border-light border-3 rounded-2 mb-5">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/slides/cafe.png" class="d-block w-100" />
                    <div class="carousel-caption d-md-block bg-success">
                        <h5><a asp-controller="Home" asp-action="Cafe" class="btn btn-primary">4th Wall Café</a></h5>
                        <p>A full-stack web application made with ASP.NET Core (MVC)</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/slides/cafeapi.png" class="mx-auto d-block w-100" />
                    <div class="carousel-caption d-md-block bg-primary">
                        <h5><a asp-controller="Home" asp-action="CafeAPI" class="btn btn-warning">Café API</a></h5>
                        <p>A RESTful API made with ASP.NET Core (Web API)</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/slides/catpoker.png" class="mx-auto d-block w-100" />
                    <div class="carousel-caption d-md-block bg-secondary">
                        <h5><a href="~/cat-poker/index.html" class="btn btn-info">Cat Poker</a></h5>
                        <p class="text-info">A front-end web application made with HTML, CSS, and JavaScript</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/slides/airport.png" class="mx-auto d-block w-100" />
                    <div class="carousel-caption d-md-block" id="airport-carousel">
                        <h5><a asp-controller="Airport" asp-action="Menu" class="btn btn-secondary">Airport Locker Rental</a></h5>
                        <p class="text-secondary">A "console" application made with ASP.NET Core (MVC)</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjects" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselProjects" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <h3 id="skillsHeadline">Languages</h3>
        <div class="d-flex justify-content-evenly">
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/csharp.png" class="card-img" />
                <div id="overlay">
                    <div id="text">C#</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/javascript.png" class="card-img" />
                <div id="overlay">
                    <div id="text">JavaScript</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/sql.png" class="card-img" />
                <div id="overlay">
                    <div id="text">SQL</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/html.png" class="card-img" />
                <div id="overlay">
                    <div id="text">HTML</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/css.png" class="card-img" />
                <div id="overlay">
                    <div id="text">CSS</div>
                </div>
            </div>
        </div>
        <h3 id="skillsHeadline">Frameworks</h3>
        <div class="d-flex justify-content-evenly">
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/dotnet.png" class="card-img" />
                <div id="overlay">
                    <div id="text">.NET</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/aspnetcore.png" class="card-img" />
                <div id="overlay">
                    <div id="text">ASP.NET Core</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/bootstrap.png" class="card-img" />
                <div id="overlay">
                    <div id="text">Bootstrap</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/dapper.png" class="card-img" />
                <div id="overlay">
                    <div id="text">Dapper</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/efcore.png" class="card-img" />
                <div id="overlay">
                    <div id="text">EF Core</div>
                </div>
            </div>
        </div>
        <h3 id="skillsHeadline">Tools</h3>
        <div class="d-flex justify-content-evenly mb-5">
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/ads.png" class="card-img" />
                <div id="overlay">
                    <div id="text">Azure Data Studio</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/docker.png" class="card-img" />
                <div id="overlay">
                    <div id="text">Docker</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/postman.png" class="card-img" />
                <div id="overlay">
                    <div id="text">Postman</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/vs.png" class="card-img" />
                <div id="overlay">
                    <div id="text">Visual Studio 2022</div>
                </div>
            </div>
            <div class="card" style="width:10rem;" id="imgContainer">
                <img src="~/img/logos/vscode.png" class="card-img" />
                <div id="overlay">
                    <div id="text">Visual Studio Code</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center" id="documentationRow">
    <div class="col-md-6">
        <h3 id="documentationHeadline">Programming Philosophies</h3>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="card m-2 border border-4 border-info" style="width:10rem;" id="zoom">
                <img src="~/img/drawings/ntier.png" class="card-img-top" />
                <div class="card-body">
                    <h6 class="card-title text-info" id="docPageHeadline">N-tier Architecture</h6>
                </div>
            </div>
            <div class="card m-2 border border-4 border-info" style="width:10rem;" id="zoom">
                <img src="~/img/drawings/oop.png" class="card-img-top" />
                <div class="card-body">
                    <h6 class="card-title text-info" id="docPageHeadline">Object Oriented Programming</h6>
                </div>
            </div>
            <div class="card m-2 border border-4 border-info" style="width:10rem;" id="zoom">
                <img src="~/img/drawings/rdb.png" class="card-img-top" />
                <div class="card-body">
                    <h6 class="card-title text-info" id="docPageHeadline">Relational Databases</h6>
                </div>
            </div>
            <div class="card m-2 border border-4 border-info" style="width:10rem;" id="zoom">
                <img src="~/img/drawings/rest.png" class="card-img-top" />
                <div class="card-body">
                    <h6 class="card-title text-info" id="docPageHeadline">REST APIs</h6>
                </div>
            </div>
            <div class="card m-2 border border-4 border-info" style="width:10rem;" id="zoom">
                <img src="~/img/drawings/soc.png" class="card-img-top" />
                <div class="card-body">
                    <h6 class="card-title text-info" id="docPageHeadline">Separation of Concerns</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3 id="documentationHeadline">Documentation and Diagrams</h3>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="card" style="width:12rem;" id="imgContainer2">
                <img src="~/img/examples/cmd.png" class="card-img" />
                <div id="overlay2">
                    <div id="text">Class Modeling Diagrams</div>
                </div>
            </div>
            <div class="card" style="width:12rem;" id="imgContainer2">
                <img src="~/img/examples/doc.png" class="card-img" />
                <div id="overlay2">
                    <div id="text">Code Documentation</div>
                </div>
            </div>
            <div class="card" style="width:12rem;" id="imgContainer2">
                <img src="~/img/examples/erd.png" class="card-img" />
                <div id="overlay2">
                    <div id="text">Entity Relationship Diagrams</div>
                </div>
            </div>
            <div class="card" style="width:12rem;" id="imgContainer2">
                <img src="~/img/examples/test.png" class="card-img" />
                <div id="overlay2">
                    <div id="text">Unit Tests</div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <a class="btn btn-success" type="submit" id="docPageHeadline" asp-controller="Home" asp-action="Documentation">Go to docs and diagrams</a>
        </div>
    </div>
</div>