<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/img/icons/battleship.png" rel="icon" type="image/x-icon" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/battleship.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="row">
                <nav class="navbar navbar-expand-lg" id="nav-battleship">
                    <button class="navbar-toggler my-2 ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbar02" aria-controls="navbar02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar02">
                        <a class="navbar-brand ms-3" id="nav-battleship-brand">Battleship</a>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle link-opacity-50-hover mx-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Portfolio
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index" id="nav-hover-portfolio">Home</a></li>
                                    <li><a class="dropdown-item" asp-area="Academy" asp-controller="Home" asp-action="Index" id="nav-hover-academy">4th Wall Academy</a></li>
                                    <li><a class="dropdown-item" asp-area="Cafe" asp-controller="Home" asp-action="Index">4th Wall Café</a></li>
                                    <li><a class="dropdown-item" asp-area="Cafe" asp-controller="API" asp-action="Index" id="nav-hover-cafe-api">4th Wall Café API</a></li>
                                    <li><a class="dropdown-item" asp-area="Airport" asp-controller="Home" asp-action="Index" id="nav-hover-airport">Airport Locker Rental</a></li>
                                    <li><a class="dropdown-item" id="nav-hover-cat-poker" href="~/cat-poker/index.html">Cat Poker</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle link-opacity-50-hover mx-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Documentation
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="nav-hover-docs" asp-area="" asp-controller="Home" asp-action="Documentation">Docs and Diagrams</a></li>
                                    <li><a class="dropdown-item" id="nav-hover-github" href="https://www.github.com/TheCatFather4">GitHub Repositories</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-opacity-50-hover mx-3" asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <div class="row">
                <div id="nav-bottom-battleship">
                    <h5>Hazelnut Software Solutions <img src="~/img/icons/hazelnut.png" width="50" height="50" /> @DateTime.Today.Year.ToString()</h5>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>