@using Portfolio.Models.Cafe.Reports
@model DateReportForm
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Order Reports";
}

<div class="container">
    <div class="row">
        <div class="my-4 text-center" id="titleSection">
            <h2 id="reportTitle">Sales Reports by Date</h2>
            <h4 class="text-success">Enter a date to display a corresponding sales report.</h4>
            <p>If you cannot find a sales report, try an example date such as: <b>10/16/2025</b></p>
            <p>Or use the <a asp-controller="Reports" asp-action="ItemCategorySales">Item/Category report form</a> to find some dates to try out.</p>
        </div>
    </div>
    <div class="row">
        <div class="border border-info p-3 border-3 rounded bg-primary">
            <form asp-controller="Reports" asp-action="OrderSales" method="post">
                @Html.AntiForgeryToken()
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" asp-for="OrderDate" id="formInput" />
                    <label asp-for="OrderDate">Order Date</label>
                    <span asp-validation-for="OrderDate" id="validationText"></span>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success me-2">Show Report</button>
                    <a asp-controller="Reports" asp-action="Index" class="link-light link-opacity-50-hover link-underline-opacity-50">Go Back</a>
                </div>
            </form>
        </div>
    </div>
    @if (Model.Orders != null && Model.TotalRevenue > 0)
    {
        <div class="row">
            <div class="my-3">
                <table class="table table-success table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Sub Total</th>
                            <th>Tax</th>
                            <th>Tip</th>
                            <th>Guest Final Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var o in Model.Orders)
                        {
                            if (o.PaymentStatusID == 1)
                            {
                                <tr>
                                    <td>@o.OrderDate.ToShortTimeString()</td>
                                    <td>$@o.SubTotal</td>
                                    <td>$@o.Tax</td>
                                    <td>$@o.Tip</td>
                                    <td>$@o.FinalTotal</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="mb-3 text-center" id="titleSection">
                <h3>The total revenue for @Model.OrderDate.Value.ToShortDateString() is <span class="text-success">$@Model.TotalRevenue</span>.</h3>
            </div>
            <div class="text-center" id="titleSection">
                <h5 class="mt-2 text-info">Try out the online ordering feature with this account to see more data persistence in action!</h5>
                <a class="btn btn-warning m-2" type="submit" asp-controller="ShoppingCart" asp-action="Index">Order Now</a>
                <p><b>Note: </b>Only orders with a status of <span class="text-success">Paid</span> will be displayed.</p>
            </div>
        </div>
    }
    else if (Model.OrderDate != null)
    {
        <div class="row" id="titleSection">
            <div class="my-3 text-center">
                <h4><span class="text-danger">There are no sales reports for @Model.OrderDate?.ToShortDateString()</span></h4>
            </div>
        </div>
    }
</div>