@{
    Layout = "_AcademyLayout";
    ViewData["Title"] = "Log In";
}

<div class="text-center my-3">
    <h1 style="color: crimson;">Welcome to Admissions</h1>
    <p>Here you can enroll new students using the web interface below.</p>
</div>
<div class="text-center my-3">
    <a asp-area="Academy" asp-controller="Admissions" asp-action="NewStudent">Register a new student</a>
</div>