@using Portfolio.Models.Ordering
@model CartItem
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Added Item";
}

<div class="text-center">
    <h1 class="my-2">@Model.ItemName</h1>
    @if (Model.ItemStatusID != 1)
    {
        <img src="~/item/@Model.ItemName.Substring(0, 3).Insert(3, ".png").ToLower()" class="img-thumbnail img-fluid" style="width: 18rem" />
    }
    else
    {
        <img src="~/item/newitem.png" class="img-thumbnail img-fluid" style="width: 18rem" />
    }
    <h5 class="mt-3">$@Model.Price</h5>
</div>
<div class="container">
    <form asp-controller="ShoppingCart" asp-action="AddItem" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ItemID" />
        <input type="hidden" asp-for="ItemName" />
        <div>
            <label asp-for="Quantity" class="form-label">Quantity</label>
            <input asp-for="Quantity" class="form-control" type="number" value="1" />
        </div>
        <input type="hidden" asp-for="Price" />
        <input type="hidden" asp-for="ItemStatusID" />
        <div class="mt-3">
            <button class="btn btn-primary me-3">Add to Cart</button>
            <a asp-controller="Cafe" asp-action="Menu">Back to Menu</a>
        </div>
    </form>
</div>
